
.context {
    width: 100vw;
    height: 100vh;
    background-color: #595252;
}
.form__container {
    position: relative;
    height: auto;
    width: 97%;
    margin: auto;
    top: 40%;
    transform: translateY(-50%);
    font-family: "Lato", "Abeezee", Arial, sans-serif;
    border: 5px solid #999;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: -1px -1px 12px black, 1px 1px 20px black;
    &__title {
        text-align: center;
        color: #333;
        font-weight: 300;
    }
    &__subtitle {
        text-align: center;
        color: #8f8f8f;
        font-weight: 300;
    }
    &__line {
        color: #bbb;
        opacity: .3;
        width: 96%;
    }
    &__footnote {
		margin-bottom: 4%;
        text-align: center;
        color: #999;
		&__txt {
			display: inline-block;
		}
		&__link {
			margin-left: 1%;
        	text-decoration: none;
			color: #3ea1c9;
			&:hover {
				text-decoration: underline;
			}
			&:active{
				color: blue;;
			}
			&:visited {
				color: #3ea1c9;
			}
		}
		&__error {
			color:#ff6d6d;
			text-align: center;
			margin-bottom: 2%;
		}
	}
    @include atSmall {
        & {
            width: 70%;
        }
    }
    @include atMedium {
        & {
            width: 50%;
        }
    }
    @include atLarge {
        & {
            width: 40%;
        }
	}
	@include atXLarge {
        & {
            width: 35%;
        }
	}
	@include atXXLarge {
        & {
            width: 25%;
        }
	}
	&__error {
		color: red;
		background-color: #fff;
		text-align: center;
		&.active {
			animation: error .4s;
		}
	}
}

.form {
    margin: 5% auto 3% auto;
    padding: 1%;
    &__control {
        display: block;
        width: 80%;
        margin: 0 auto 5% auto;
        padding:  3% 1%;
        font-size: .8rem;
        line-height: 1rem;
        letter-spacing: .5px;
        color: #333;
        font-family: "Lato", "Abeezee", Colibri, Arial, sans-serif;
        box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
        background: #eee;
        border-radius: 5px;
        border: none;
    }
    &__submit {
        width: 84%;
        margin: 10% auto 2% auto;
        padding: 3%;
        color: #fff;
        font-family: "Lato", "Abeezee", Colibri, Arial, sans-serif;
        font-size: 1rem;
        font-stretch: 5px;
        letter-spacing: 1px;
        cursor: pointer;
        box-shadow: none;
        background: linear-gradient(to bottom, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#a2daf5 83%,#bdf3fd 100%);
        &:hover {
            background: linear-gradient(to bottom, #c5e7fd 0%,#b9daf5 10%,#a3c6e9 25%,#a4c8ee 37%,#a3caf3 50%,#b3e0f7 83%,#c9f5fd 100%);
        }
        &:active {
            background: linear-gradient(to bottom, #c9f5fd 0%,#b3e0f7 17%,#a3caf3 50%,#a4c8ee 63%,#a3c6e9 75%,#b9daf5 90%,#c5e7fd 100%);
        }
    }
}

@keyframes error {
    from {background-color: red;}
    to {background-color: #fff;}
}
