&__cards {
	display: flex;
	&__error {
		text-align: center;
		margin: 10% auto;
	}
	&__container {
		width: 20vw;
		height: 20vh;
		&__header {
			width: 100%;
			height: 30%;
		}
		&__body {
			width: 100%;
			height: 60%;
			&__image {
				width: 50%;
				height: 80%;
			}
		}
		&__footer {
			width: 100%;
			height: 20%;
		}
	}
}