&__cards {
	display: inline-flex;
	&__error {
		text-align: center;
		margin: 10% auto;
	}
	&__card {
		display: block;
		width: 24vw;
		height: 25vh;
		border: 1px solid #999;
		border-right: none;
		&__header {
			display: block;
			width: 100%;
			height: 30%;
		}
		&__body {
			display: inline-flex;
			width: 100%;
			height: 60%;
			&__image {
				width: 50%;
				height: 80%;
			}
		}
		&__footer {
			display: block;
			width: 100%;
			height: 20%;
		}
	}
}