$grey: #999;

body {
	font-family: "Helvetica Neue", Calibri, sans-serif;
}
.test {
    color: $grey;
    transition: all 1.5s;
}
@import "./_normalize.scss";
@import "./_navbar.scss";
@import "./_body.scss";
@import "./_footer.scss";